/* You can add global styles to this file, and also import other style files */

body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titleTable {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    color: orangered;
}


/*  
body{
    height: 500px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/70/92/9057b6fa2816639.jpg");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: contain;
    
}
*/